---
import Wrapper from "@/components/foundations/containers/Wrapper.astro";
import DashboardCapabilityGrid from "@/components/landing/dashboard/dashboard-capability-grid";
---

<section>
  <Wrapper class="py-20">
    <div><DashboardCapabilityGrid client:load /></div>
    <a
      href="/#benefits"
      class="text-foreground mx-auto mt-12 flex w-fit font-medium"
    >
      See all features</a
    >
  </Wrapper>
</section>
