---
import Wrapper from "@/components/foundations/containers/Wrapper.astro";
import DashboardCapabilityGrid from "@/components/landing/dashboard/dashboard-capability-grid";
---

<section>
  <Wrapper class="py-20">
    <div><DashboardCapabilityGrid client:load /></div>
    
  </Wrapper>
</section>
