---
import Wrapper from "@/components/foundations/containers/Wrapper.astro";
import DashboardCapabilityGrid from "@/components/landing/dashboard/dashboard-capability-grid";
---

<section class="pt-8">
  <Wrapper
    class="py-20"
  >
    <div class="mx-auto max-w-4xl"><DashboardCapabilityGrid client:load /></div>
  </Wrapper>
</section>
