---
import Wrapper from "@/components/foundations/containers/Wrapper.astro";
import DashboardCapabilityGrid from "@/components/landing/dashboard/dashboard-capability-grid";
---
<section>
  <Wrapper class="py-20">
   
    <div><DashboardCapabilityGrid client:load /></div>
    <a
      href="/pricing#benefits"
      class="text-foreground mt-12 flex w-fit font-medium mx-auto"
    >
      See all features</a
    >
  </Wrapper>
</section>
