---
import { PricingPlanCard } from "@/components/sections/pricing/pricing-plan-card";
import Wrapper from "@/components/foundations/containers/Wrapper.astro";
import SectionIntro from "@/components/landing/SectionIntro.astro";

interface Props {
  headingTag?: "h1" | "h2";
}

const appBaseUrl = "https://app.kobbe.io";
const { headingTag = "h2" } = Astro.props;
---

<section id="pricing" aria-labelledby="pricing-heading" class="pt-8">
  <Wrapper
    variant="default"
    class="bg-brand/5 dark:bg-brand/15 border-brand/15 rounded-xl border border-dashed py-20"
  >
    <div class="mx-auto max-w-4xl">
      <div class="mx-auto max-w-lg text-center">
        <SectionIntro
          id="pricing-heading"
          tag={headingTag}
          title="Event-based pricing that scales with you."
          description="Start with a 3-day free trial. No credit card required."
        />
      </div>

      <div class="mt-8">
        <PricingPlanCard client:load appBaseUrl={appBaseUrl} />
      </div>
    </div>
  </Wrapper>
</section>
