@import "tailwindcss";
@import "flag-icons/css/flag-icons.min.css";
@import "lenis/dist/lenis.css";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "./colors.css";
@import "./shadows.css";
@import "./code.css";
@import "./fonts.css";
@plugin "@tailwindcss/typography";

@theme inline {
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}
:root {
  --radius: 0.625rem;
}
@media (min-width: 1024px) {
  :root {
    --navbar-height: 4rem;
  }
}
@layer base {
  :root {
    color-scheme: light dark;
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply scroll-smooth font-sans antialiased;
  }
}
* {
  scrollbar-width: thin;
  scrollbar-color: gray transparent;
}
