---
interface Props {
  variant?: "nav" | "prose" | "default" | "wide";
  class?: string; // Optional prop for additional classes
  id?: string; // Optional prop for an id
}
const { variant = "default", class: extraClass = "", id } = Astro.props;
// Map each variant to its specific classes
const variantClasses: Record<NonNullable<Props["variant"]>, string> = {
  nav: "mx-auto max-w-screen px-8  2xl:max-w-400",
  // Grids
  default: "mx-auto max-w-screen px-8  2xl:max-w-400",
  wide: "mx-auto  px-8  2xl:max-w-500",

  prose: [
    // Base
    "prose",
    "text-sm",
    "2xl:text-base",
    "max-w-none",
    "text-muted-foreground",
    // Headings
    "prose-headings:font-semibold",
    "prose-headings:text-foreground",
    "prose-headings:first:mt-0",
    // Paragraphs
    "prose-p:font-medium",
    "prose-p:text-muted-foreground",
    // Blockquotes
    "prose-blockquote:border-border",
    "prose-blockquote:text-muted-foreground",
    "prose-blockquote:font-normal",
    "prose-blockquote:tracking-normal",
    // Links
    "prose-a:text-foreground",
    "prose-a:duration-200",
    // Images
    "prose-img:border",
    "prose-img:border-border",
    // HR
    "prose-hr:border-border",
    // Tables
    "prose-table:w-full",
    "prose-table:border-collapse",
    "prose-table:border-0",
    "prose-thead:border-b",
    "prose-thead:border-border",
    "prose-tbody:divide-y",
    "prose-tbody:divide-border",
    "[&_tbody_tr]:transition-colors",
    "[&_tbody_tr:hover]:bg-muted/30",
    "prose-th:border-0",
    "prose-th:py-2.5",
    "prose-th:pr-4",
    "prose-th:text-xs",
    "prose-th:font-semibold",
    "prose-th:tracking-wide",
    "prose-th:text-muted-foreground",
    "prose-td:border-0",
    "prose-td:py-2.5",
    "prose-td:pr-4",
    "prose-td:align-top",
    "prose-td:text-muted-foreground",
    "[&_td_code]:rounded-md",
    "[&_td_code]:bg-muted",
    "[&_td_code]:px-1.5",
    "[&_td_code]:py-0.5",
    // Code & Pre
    "prose-code:font-medium",
    "prose-code:text-foreground",
    "prose-strong:font-semibold",
    "prose-strong:text-foreground",
    "prose-pre:bg-muted",
    "prose-pre:text-foreground",
    "prose-pre:scrollbar-hide prose-pre:border-none",
  ].join(" "),
};
// Combine the classes for the specified variant with any extra classes
const classes = `${variantClasses[variant]} ${extraClass}`.trim();
---

<div class={classes} id={id}>
  <slot />
</div>
