---
interface Props {
  variant?: "nav" | "prose" | "default" | "wide";
  class?: string; // Optional prop for additional classes
  id?: string; // Optional prop for an id
}
const { variant = "default", class: extraClass = "", id } = Astro.props;
// Map each variant to its specific classes
const variantClasses: Record<NonNullable<Props["variant"]>, string> = {
  nav: "mx-auto max-w-6xl px-8  ",
  // Grids
  default: "mx-auto max-w-6xl px-8  2xl:max-w-400",
  wide: "mx-auto  px-8  2xl:max-w-500",

  prose: [
    // Base
    "prose",
    "text-sm",
    "2xl:text-base",
    "max-w-none",
    "text-muted-foreground",
    // Headings
    "prose-headings:font-semibold",
    "prose-headings:text-foreground",
    "prose-headings:first:mt-0",
    // Paragraphs
    "prose-p:font-medium",
    // Blockquotes
    "prose-blockquote:text-muted-foreground",
    "prose-blockquote:font-normal",
    "prose-blockquote:tracking-normal",
    // Links
    "prose-a:text-foreground",
    "prose-a:duration-200",
    // Images
    "prose-img:border",
    "prose-img:border-border",
    // HR
    "prose-hr:border-border",
    // Code & Pre
    "prose-code:font-medium",
    "prose-strong:font-semibold",
    "prose-pre:scrollbar-hide prose-pre:border-none",
  ].join(" "),
};
// Combine the classes for the specified variant with any extra classes
const classes = `${variantClasses[variant]} ${extraClass}`.trim();
---

<div class={classes} id={id}>
  <slot />
</div>
