---
// src/components/Tabs.astro
export interface Props {
  defaultTab?: string;
  class?: string;
}
const { defaultTab, class: className = "" } = Astro.props;
---

<div
  class={`bg-background p-1 outline outline-border rounded-lg overflow-hidden ${className} `}
  data-tabs-container
  data-default-tab={defaultTab}
  role="tablist"
>
  <div class="flex items-center">
    <slot name="tabs" />
  </div>
  <div class="relative scrollbar-hide">
    <slot name="content" />
  </div>
</div>
