---
import Logo from "@/components/assets/Logo.astro";
import Wrapper from "@/components/foundations/containers/Wrapper.astro";
import SiteNavigation from "@/components/global/site-navigation";

interface Props {
  docsNavGroups?: {
    category: string;
    items: {
      href: string;
      label: string;
      isActive: boolean;
    }[];
  }[];
}

const { docsNavGroups } = Astro.props;
---

<header class="bg-background sticky top-0 z-40">
  <Wrapper variant="nav">
    <div class="flex items-center justify-between gap-3 py-4">
      <a
        href="/"
        aria-label="Homepage"
        class="text-foreground flex min-w-0 items-center gap-2 font-medium tracking-tight"
      >
        <Logo class="h-6 rounded" />
        Kobbe
      </a>
      <SiteNavigation client:load docsNavGroups={docsNavGroups} />
    </div>
  </Wrapper>
</header>
